<h1>Write review for {{name}}</h1>

<form action="/rooms/{{_id}}/write-review" method="post">
    <input type="text" name="comment" placeholder="Write your review..." required>


    <button type="submit">Send Review</button>
</form>






